In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
police_data = pd.read_csv(r'C:\DA12\capstone\capstone-da12\data\police calls for service data\Metro_Nashville_Police_Department_Incidents.csv', low_memory=False)
police_data.head()

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
0,-9.655185e+06,4.329418e+06,1,20190522445_11,20190522445,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37216.0,17,2019/07/12 13:00:00+00,2019/07/12 19:04:00+00
1,-9.646057e+06,4.322660e+06,2,20190526626_11,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,09,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
2,-9.646057e+06,4.322660e+06,3,20190526626_21,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,17,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
3,-9.666985e+06,4.318524e+06,4,20190528995_11,20190528995,D,DISPATCHED,O,OPEN,Open,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2019/07/15 17:30:00+00,2019/07/15 18:47:00+00
4,-9.666985e+06,4.326797e+06,5,20190528693_11,20190528693,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:20:00+00,2019/07/15 16:13:00+00

In [3]:
# error when loading dataframe: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
# did some googling, decided to use low_memory=False
# opened file in excel, all values are empty and all values are NaN on pandas?

In [4]:
police_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944481 entries, 0 to 944480
Data columns (total 36 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   X                            925268 non-null  float64
 1   Y                            925268 non-null  float64
 2   OBJECTID                     944481 non-null  int64
 3   Primary_Key                  944481 non-null  object
 4   Incident_Number              944481 non-null  int64
 5   Report_Type                  944380 non-null  object
 6   Report_Type_Description      879532 non-null  object
 7   Incident_Status_Code         944461 non-null  object
 8   Incident_Status_Description  944386 non-null  object
 9   Investigation_Status         944481 non-null  object
 10  Incident_Location            938652 non-null  object
 11  Latitude                     925268 non-null  float64
 12  Longitude                    925268 non-null  float64
 13  RPA                          594858 non-null  float64
 14  Zone                         594858 non-null  float64
 15  Location_Code                944445 non-null  float64
 16  Location_Description         944445 non-null  object
 17  Offense_Number               944289 non-null  float64
 18  Offense_NIBRS                944393 non-null  object
 19  Offense_Description          944481 non-null  object
 20  Weapon_Description           922333 non-null  object
 21  Victim_Number                944481 non-null  int64
 22  Domestic_Related             944481 non-null  object
 23  Victim_Type                  944464 non-null  object
 24  Victim_Description           944352 non-null  object
 25  Victim_Gender                715022 non-null  object
 26  Victim_Race                  715018 non-null  object
 27  Victim_Ethnicity             714823 non-null  object
 28  Victim_County_Resident       696175 non-null  object
 29  Mapped_Location              0 non-null       float64
 30  POINT_X                      0 non-null       float64
 31  POINT_Y                      0 non-null       float64
 32  ZIP_Code                     497656 non-null  object
 33  Weapon_Primary               923391 non-null  object
 34  Incident_Occurred            944481 non-null  object
 35  Incident_Reported            944481 non-null  object
dtypes: float64(11), int64(3), object(22)
memory usage: 259.4+ MB

In [81]:
police_data.columns

Index(['X', 'Y', 'OBJECTID', 'Primary_Key', 'Incident_Number', 'Report_Type',
       'Report_Type_Description', 'Incident_Status_Code',
       'Incident_Status_Description', 'Investigation_Status',
       'Incident_Location', 'Latitude', 'Longitude', 'RPA', 'Zone',
       'Location_Code', 'Location_Description', 'Offense_Number',
       'Offense_NIBRS', 'Offense_Description', 'Weapon_Description',
       'Victim_Number', 'Domestic_Related', 'Victim_Type',
       'Victim_Description', 'Victim_Gender', 'Victim_Race',
       'Victim_Ethnicity', 'Victim_County_Resident', 'Mapped_Location',
       'POINT_X', 'POINT_Y', 'ZIP_Code', 'Weapon_Primary', 'Incident_Occurred',
       'Incident_Reported'],
      dtype='object')

In [5]:
police_data['POINT_Y']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
944476   NaN
944477   NaN
944478   NaN
944479   NaN
944480   NaN
Name: POINT_Y, Length: 944481, dtype: float64

In [6]:
# find area that has the most calls

In [7]:
police_data['Location_Code']

0          5.0
1         22.0
2         22.0
3          8.0
4         22.0
          ...
944476     3.0
944477    90.0
944478    20.0
944479    22.0
944480    22.0
Name: Location_Code, Length: 944481, dtype: float64

In [8]:
police_data['Location_Code'].value_counts()

Location_Code
22.0    285190
20.0    179864
13.0    124499
90.0    110940
8.0      25146
         ...
83.0        35
79.0        25
47.0        18
49.0        13
56.0         1
Name: count, Length: 62, dtype: int64

In [9]:
# Location Code 22 shows up the most

In [10]:
police_data.loc[police_data['Location_Code'] == 22]

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
1,-9.646057e+06,4.322660e+06,2,20190526626_11,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,09,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
2,-9.646057e+06,4.322660e+06,3,20190526626_21,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,17,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
4,-9.666985e+06,4.326797e+06,5,20190528693_11,20190528693,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:20:00+00,2019/07/15 16:13:00+00
15,-9.652513e+06,4.326797e+06,16,20190508753_11,20190508753,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/06 19:25:00+00,2019/07/06 19:58:00+00
20,-9.661419e+06,4.318524e+06,21,20190528665_11,20190528665,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:14:00+00,2019/07/15 16:20:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944454,-9.658636e+06,4.323763e+06,944455,20240476501_11,20240476501,D,DISPATCHED,R,REFUSED TO COOPERATE,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37206.0,NaN,2024/07/19 03:50:00+00,2024/07/19 04:36:00+00
944465,-9.641381e+06,4.314390e+06,944466,20240470448_11,20240470448,O,NaN,O,OPEN,Open,...,U,Unknown,NON RESIDENT,NaN,NaN,NaN,NaN,17,2024/05/14 05:01:00+00,2024/07/16 23:01:00+00
944467,-9.664758e+06,4.322660e+06,944468,20240493835_11,20240493835,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,01,2024/07/26 21:23:00+00,2024/07/27 03:23:00+00
944479,-9.652513e+06,4.310258e+06,944480,20240505615_11,20240505615,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2024/08/01 04:13:00+00,2024/08/01 05:04:00+00
944480,-9.643496e+06,4.328038e+06,944481,20240505340_11,20240505340,D,DISPATCHED,U,UNFOUNDED,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37076.0,NaN,2024/08/01 02:27:00+00,2024/08/01 02:57:00+00

In [11]:
# Maybe try zipcode instead?

In [12]:
police_data['ZIP_Code']

0         37216.0
1         37214.0
2         37214.0
3             NaN
4             NaN
           ...
944476    37201.0
944477        NaN
944478        NaN
944479        NaN
944480    37076.0
Name: ZIP_Code, Length: 944481, dtype: object

In [13]:
police_data['ZIP_Code'].value_counts()

ZIP_Code
37207.0    50263
37013.0    47252
37211.0    45841
37115.0    40530
37203.0    29798
           ...
37185.0        1
37330.0        1
37078.0        1
37274.0        1
37057.0        1
Name: count, Length: 130, dtype: int64

In [14]:
# 37207 has the most incident reports -- MY zipcode!

police_data['ZIP_Code'] == '37207'

Make a chart with this zipcode and the years the reports occurred? 
sns.scatterplot(x=police_data["ZIP_Code"] == '37207', y=police_data[" "])

In [17]:
most_incidents = police_data[police_data['ZIP_Code'] == '37207']
most_incidents

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
818896,-9.658747e+06,4.328452e+06,818897,20220420357_11,20220420357,D,DISPATCHED,U,UNFOUNDED,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,17,2022/08/24 03:50:00+00,2022/08/24 05:31:00+00
818922,-9.659749e+06,4.334662e+06,818923,20220425733_11,20220425733,D,DISPATCHED,R,REFUSED TO COOPERATE,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,09,2022/08/26 18:20:00+00,2022/08/26 18:20:00+00
819012,-9.658970e+06,4.325004e+06,819013,20220402037_11,20220402037,S,SUSPECT,U,UNFOUNDED,Closed,...,W,Non-Hispanic,NON RESIDENT,NaN,NaN,NaN,37207,17,2022/08/15 01:27:00+00,2022/08/15 01:57:00+00
819015,-9.658970e+06,4.325004e+06,819016,20220402037_12,20220402037,S,SUSPECT,U,UNFOUNDED,Closed,...,W,Non-Hispanic,NON RESIDENT,NaN,NaN,NaN,37207,17,2022/08/15 01:27:00+00,2022/08/15 01:57:00+00
819024,-9.657188e+06,4.329418e+06,819025,20220403065_11,20220403065,T,NaN,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,17,2022/08/13 17:00:00+00,2022/08/15 15:56:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835943,-9.661864e+06,4.330797e+06,835944,20230677855_11,20230677855,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,17,2023/11/12 23:21:00+00,2023/11/13 00:17:00+00
835954,-9.657745e+06,4.334524e+06,835955,20240253816_11,20240253816,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,17,2024/04/15 02:57:00+00,2024/04/15 20:40:00+00
835958,-9.657745e+06,4.334662e+06,835959,20240246330_11,20240246330,D,DISPATCHED,P,PROSECUTION DECLINED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,09,2024/04/12 00:30:00+00,2024/04/12 04:12:00+00
835959,-9.657745e+06,4.334662e+06,835960,20240246330_12,20240246330,D,DISPATCHED,P,PROSECUTION DECLINED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,09,2024/04/12 00:30:00+00,2024/04/12 04:12:00+00
835993,-9.660083e+06,4.332453e+06,835994,20230684216_11,20230684216,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37207,17,2023/11/15 13:49:00+00,2023/11/15 16:04:00+00

In [18]:
most_incidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 807 entries, 818896 to 835993
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            770 non-null    float64
 1   Y                            770 non-null    float64
 2   OBJECTID                     807 non-null    int64
 3   Primary_Key                  807 non-null    object
 4   Incident_Number              807 non-null    int64
 5   Report_Type                  807 non-null    object
 6   Report_Type_Description      795 non-null    object
 7   Incident_Status_Code         807 non-null    object
 8   Incident_Status_Description  807 non-null    object
 9   Investigation_Status         807 non-null    object
 10  Incident_Location            807 non-null    object
 11  Latitude                     770 non-null    float64
 12  Longitude                    770 non-null    float64
 13  RPA                          3 non-null      float64
 14  Zone                         3 non-null      float64
 15  Location_Code                807 non-null    float64
 16  Location_Description         807 non-null    object
 17  Offense_Number               806 non-null    float64
 18  Offense_NIBRS                807 non-null    object
 19  Offense_Description          807 non-null    object
 20  Weapon_Description           739 non-null    object
 21  Victim_Number                807 non-null    int64
 22  Domestic_Related             807 non-null    object
 23  Victim_Type                  807 non-null    object
 24  Victim_Description           807 non-null    object
 25  Victim_Gender                668 non-null    object
 26  Victim_Race                  668 non-null    object
 27  Victim_Ethnicity             667 non-null    object
 28  Victim_County_Resident       667 non-null    object
 29  Mapped_Location              0 non-null      float64
 30  POINT_X                      0 non-null      float64
 31  POINT_Y                      0 non-null      float64
 32  ZIP_Code                     807 non-null    object
 33  Weapon_Primary               739 non-null    object
 34  Incident_Occurred            807 non-null    object
 35  Incident_Reported            807 non-null    object
dtypes: float64(11), int64(3), object(22)
memory usage: 233.3+ KB

police_data[police_data['ZIP_Code'] == '37207']

most_incidents = most_incidents[most_incidents['Incident_reported']

most_incidents.plot(kind='bar', color='skyblue')
plt.title(f'Number of Incidents Reported Over the Years for Zip Code {zip_code}')
plt.xlabel('Year')
plt.ylabel('Number of Incidents')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

police_data['Incident_Reported'] = pd.to_datetime(police_data['Incident_Reported'])

In [23]:
police_data['Incident_Reported']

0         2019/07/12 19:04:00+00
1         2019/07/14 18:55:00+00
2         2019/07/14 18:55:00+00
3         2019/07/15 18:47:00+00
4         2019/07/15 16:13:00+00
                   ...
944476    2024/07/28 11:58:00+00
944477    2024/07/29 05:16:00+00
944478    2024/07/29 05:16:00+00
944479    2024/08/01 05:04:00+00
944480    2024/08/01 02:57:00+00
Name: Incident_Reported, Length: 944481, dtype: object

most_incidents['Year'] = most_incidents['Incident_Reported'].dt.year

In [25]:
incidents = most_incidents.groupby('Incident_Reported').size()

In [26]:
incidents.reset_index()

          Incident_Reported  0
0    2022/05/07 18:33:00+00  2
1    2022/05/07 20:53:00+00  1
2    2022/05/10 17:01:00+00  1
3    2022/05/11 14:34:00+00  1
4    2022/05/17 15:32:00+00  1
..                      ... ..
664  2024/09/22 12:36:00+00  1
665  2024/09/22 14:44:00+00  1
666  2024/09/22 15:10:00+00  1
667  2024/09/22 15:12:00+00  1
668  2024/09/22 17:48:00+00  1

[669 rows x 2 columns]

sns.scatterplot(x=incidents["Incident_Reported"], y=most_incidents["0"])

In [28]:
incidents.reset_index()

          Incident_Reported  0
0    2022/05/07 18:33:00+00  2
1    2022/05/07 20:53:00+00  1
2    2022/05/10 17:01:00+00  1
3    2022/05/11 14:34:00+00  1
4    2022/05/17 15:32:00+00  1
..                      ... ..
664  2024/09/22 12:36:00+00  1
665  2024/09/22 14:44:00+00  1
666  2024/09/22 15:10:00+00  1
667  2024/09/22 15:12:00+00  1
668  2024/09/22 17:48:00+00  1

[669 rows x 2 columns]

idk why this isn't working?

incidents['Year'] = incidents['Incident_Reported'].dt.year

In [30]:
incidents.info()

<class 'pandas.core.series.Series'>
Index: 669 entries, 2022/05/07 18:33:00+00 to 2024/09/22 17:48:00+00
Series name: None
Non-Null Count  Dtype
--------------  -----
669 non-null    int64
dtypes: int64(1)
memory usage: 10.5+ KB

In [77]:
police_data[police_data['ZIP_Code'] == 37013]

Empty DataFrame
Columns: [X, Y, OBJECTID, Primary_Key, Incident_Number, Report_Type, Report_Type_Description, Incident_Status_Code, Incident_Status_Description, Investigation_Status, Incident_Location, Latitude, Longitude, RPA, Zone, Location_Code, Location_Description, Offense_Number, Offense_NIBRS, Offense_Description, Weapon_Description, Victim_Number, Domestic_Related, Victim_Type, Victim_Description, Victim_Gender, Victim_Race, Victim_Ethnicity, Victim_County_Resident, Mapped_Location, POINT_X, POINT_Y, ZIP_Code, Weapon_Primary, Incident_Occurred, Incident_Reported]
Index: []

[0 rows x 36 columns]

In [32]:
police_data

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
0,-9.655185e+06,4.329418e+06,1,20190522445_11,20190522445,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37216.0,17,2019/07/12 13:00:00+00,2019/07/12 19:04:00+00
1,-9.646057e+06,4.322660e+06,2,20190526626_11,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,09,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
2,-9.646057e+06,4.322660e+06,3,20190526626_21,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,17,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
3,-9.666985e+06,4.318524e+06,4,20190528995_11,20190528995,D,DISPATCHED,O,OPEN,Open,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2019/07/15 17:30:00+00,2019/07/15 18:47:00+00
4,-9.666985e+06,4.326797e+06,5,20190528693_11,20190528693,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:20:00+00,2019/07/15 16:13:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944476,-9.659971e+06,4.322797e+06,944477,20240496858_22,20240496858,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,NON RESIDENT,NaN,NaN,NaN,37201.0,17,2024/07/28 09:49:00+00,2024/07/28 11:58:00+00
944477,-9.640268e+06,4.324038e+06,944478,20240497877_11,20240497877,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,06,2024/07/29 03:20:00+00,2024/07/29 05:16:00+00
944478,-9.640268e+06,4.324038e+06,944479,20240497877_21,20240497877,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,06,2024/07/29 03:20:00+00,2024/07/29 05:16:00+00
944479,-9.652513e+06,4.310258e+06,944480,20240505615_11,20240505615,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2024/08/01 04:13:00+00,2024/08/01 05:04:00+00
944480,-9.643496e+06,4.328038e+06,944481,20240505340_11,20240505340,D,DISPATCHED,U,UNFOUNDED,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37076.0,NaN,2024/08/01 02:27:00+00,2024/08/01 02:57:00+00

In [33]:
zip_code_nan_count = police_data['ZIP_Code'].isna().sum()
zip_code_nan_count

446825

In [34]:
nan_count = police_data.isna().sum()
nan_count

X                               19213
Y                               19213
OBJECTID                            0
Primary_Key                         0
Incident_Number                     0
Report_Type                       101
Report_Type_Description         64949
Incident_Status_Code               20
Incident_Status_Description        95
Investigation_Status                0
Incident_Location                5829
Latitude                        19213
Longitude                       19213
RPA                            349623
Zone                           349623
Location_Code                      36
Location_Description               36
Offense_Number                    192
Offense_NIBRS                      88
Offense_Description                 0
Weapon_Description              22148
Victim_Number                       0
Domestic_Related                    0
Victim_Type                        17
Victim_Description                129
Victim_Gender                  229459
Victim_Race                    229463
Victim_Ethnicity               229658
Victim_County_Resident         248306
Mapped_Location                944481
POINT_X                        944481
POINT_Y                        944481
ZIP_Code                       446825
Weapon_Primary                  21090
Incident_Occurred                   0
Incident_Reported                   0
dtype: int64

In [75]:
police_data['ZIP_Code'].unique().tolist()

['37216.0',
 '37214.0',
 nan,
 '37221.0',
 '37203.0',
 '37211.0',
 '37076.0',
 '37207.0',
 '37201.0',
 '37115.0',
 '37013.0',
 '37215.0',
 '37204.0',
 '37209.0',
 '37208.0',
 '37210.0',
 '37217.0',
 '37072.0',
 '37206.0',
 '37213.0',
 '37205.0',
 '37218.0',
 '37027.0',
 '37219.0',
 '37189.0',
 '37220.0',
 '37138.0',
 '37212.0',
 '37080.0',
 '37228.0',
 '37240.0',
 '37015.0',
 '37122.0',
 '37064.0',
 '37135.0',
 '37062.0',
 '37110.0',
 '37232.0',
 '15213.0',
 '37143.0',
 '37075.0',
 '37167.0',
 '43440.0',
 '39202.0',
 '37066.0',
 '37086.0',
 '37043.0',
 '37049.0',
 '90069.0',
 '19153.0',
 '37129.0',
 '37029.0',
 '0.0',
 '37087.0',
 '37683.0',
 '37028.0',
 '3701.0',
 '27707.0',
 '37130.0',
 '6706.0',
 '27216.0',
 '89502.0',
 '38562.0',
 '30139.0',
 '37185.0',
 '37082.0',
 '91107.0',
 '37330.0',
 '37078.0',
 '37274.0',
 '30318.0',
 '32801.0',
 '37201',
 '37138',
 '37213',
 '37206',
 '37209',
 '37211',
 '37013',
 '37221',
 '37115',
 '37219',
 '37217',
 '37208',
 '37207',
 '37210',
 '37203',
 '37076',
 '37214',
 '37205',
 '37218',
 '37212',
 '37204',
 '37228',
 '37216',
 '37240',
 '37027',
 '37215',
 '37220',
 '37072',
 '37189',
 '37080',
 '37122',
 '38401',
 '37135',
 '23236',
 '37066',
 '29501',
 '17202',
 '37015',
 '37087',
 '37075',
 'UNK',
 '37187.0',
 '53701.0',
 '37179.0',
 '76033.0',
 '37398.0',
 '37042.0',
 '37172.0',
 '19082.0',
 '37188.0',
 '37090.0',
 '37067.0',
 '38109.0',
 '60123.0',
 '37041.0',
 '37040.0',
 '38305.0',
 '42101.0',
 '37057.0']