In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
police_data = pd.read_csv(r'C:\DA12\capstone\capstone-da12\data\metro school enrollment data\police calls for service data\Metro_Nashville_Police_Department_Incidents.csv', low_memory=False)
police_data.head()

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
0,-9.655185e+06,4.329418e+06,1,20190522445_11,20190522445,D,DISPATCHED,U,UNFOUNDED,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37216.0,17,2019/07/12 13:00:00+00,2019/07/12 19:04:00+00
1,-9.646057e+06,4.322660e+06,2,20190526626_11,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,09,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
2,-9.646057e+06,4.322660e+06,3,20190526626_21,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,17,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
3,-9.666985e+06,4.318524e+06,4,20190528995_11,20190528995,D,DISPATCHED,O,OPEN,Open,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2019/07/15 17:30:00+00,2019/07/15 18:47:00+00
4,-9.666985e+06,4.326797e+06,5,20190528693_11,20190528693,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:20:00+00,2019/07/15 16:13:00+00

In [ ]:
# error when loading dataframe: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
# did some googling, decided to use low_memory=False
# opened file in excel, all values are empty and all values are NaN on pandas?

In [9]:
police_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944481 entries, 0 to 944480
Data columns (total 36 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   X                            925268 non-null  float64
 1   Y                            925268 non-null  float64
 2   OBJECTID                     944481 non-null  int64
 3   Primary_Key                  944481 non-null  object
 4   Incident_Number              944481 non-null  int64
 5   Report_Type                  944380 non-null  object
 6   Report_Type_Description      879532 non-null  object
 7   Incident_Status_Code         944461 non-null  object
 8   Incident_Status_Description  944386 non-null  object
 9   Investigation_Status         944481 non-null  object
 10  Incident_Location            938652 non-null  object
 11  Latitude                     925268 non-null  float64
 12  Longitude                    925268 non-null  float64
 13  RPA                          594858 non-null  float64
 14  Zone                         594858 non-null  float64
 15  Location_Code                944445 non-null  float64
 16  Location_Description         944445 non-null  object
 17  Offense_Number               944289 non-null  float64
 18  Offense_NIBRS                944393 non-null  object
 19  Offense_Description          944481 non-null  object
 20  Weapon_Description           922333 non-null  object
 21  Victim_Number                944481 non-null  int64
 22  Domestic_Related             944481 non-null  object
 23  Victim_Type                  944464 non-null  object
 24  Victim_Description           944352 non-null  object
 25  Victim_Gender                715022 non-null  object
 26  Victim_Race                  715018 non-null  object
 27  Victim_Ethnicity             714823 non-null  object
 28  Victim_County_Resident       696175 non-null  object
 29  Mapped_Location              0 non-null       float64
 30  POINT_X                      0 non-null       float64
 31  POINT_Y                      0 non-null       float64
 32  ZIP_Code                     497656 non-null  object
 33  Weapon_Primary               923391 non-null  object
 34  Incident_Occurred            944481 non-null  object
 35  Incident_Reported            944481 non-null  object
dtypes: float64(11), int64(3), object(22)
memory usage: 259.4+ MB

In [13]:
police_data['POINT_Y']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
944476   NaN
944477   NaN
944478   NaN
944479   NaN
944480   NaN
Name: POINT_Y, Length: 944481, dtype: float64

In [ ]:
# find area that has the most calls

In [15]:
police_data['Location_Code']

0          5.0
1         22.0
2         22.0
3          8.0
4         22.0
          ...
944476     3.0
944477    90.0
944478    20.0
944479    22.0
944480    22.0
Name: Location_Code, Length: 944481, dtype: float64

In [25]:
police_data['Location_Code'].value_counts()

Location_Code
22.0    285190
20.0    179864
13.0    124499
90.0    110940
8.0      25146
         ...
83.0        35
79.0        25
47.0        18
49.0        13
56.0         1
Name: count, Length: 62, dtype: int64

In [ ]:
# Location Code 22 shows up the most

In [33]:
police_data.loc[police_data['Location_Code'] == 22]

,X,Y,OBJECTID,Primary_Key,Incident_Number,Report_Type,Report_Type_Description,Incident_Status_Code,Incident_Status_Description,Investigation_Status,...,Victim_Race,Victim_Ethnicity,Victim_County_Resident,Mapped_Location,POINT_X,POINT_Y,ZIP_Code,Weapon_Primary,Incident_Occurred,Incident_Reported
1,-9.646057e+06,4.322660e+06,2,20190526626_11,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,09,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
2,-9.646057e+06,4.322660e+06,3,20190526626_21,20190526626,D,DISPATCHED,A,CLEARED BY ARREST,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37214.0,17,2019/07/14 16:00:00+00,2019/07/14 18:55:00+00
4,-9.666985e+06,4.326797e+06,5,20190528693_11,20190528693,D,DISPATCHED,O,OPEN,Open,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:20:00+00,2019/07/15 16:13:00+00
15,-9.652513e+06,4.326797e+06,16,20190508753_11,20190508753,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/06 19:25:00+00,2019/07/06 19:58:00+00
20,-9.661419e+06,4.318524e+06,21,20190528665_11,20190528665,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2019/07/15 14:14:00+00,2019/07/15 16:20:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944454,-9.658636e+06,4.323763e+06,944455,20240476501_11,20240476501,D,DISPATCHED,R,REFUSED TO COOPERATE,Closed,...,B,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37206.0,NaN,2024/07/19 03:50:00+00,2024/07/19 04:36:00+00
944465,-9.641381e+06,4.314390e+06,944466,20240470448_11,20240470448,O,NaN,O,OPEN,Open,...,U,Unknown,NON RESIDENT,NaN,NaN,NaN,NaN,17,2024/05/14 05:01:00+00,2024/07/16 23:01:00+00
944467,-9.664758e+06,4.322660e+06,944468,20240493835_11,20240493835,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,01,2024/07/26 21:23:00+00,2024/07/27 03:23:00+00
944479,-9.652513e+06,4.310258e+06,944480,20240505615_11,20240505615,D,DISPATCHED,O,OPEN,Open,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,NaN,17,2024/08/01 04:13:00+00,2024/08/01 05:04:00+00
944480,-9.643496e+06,4.328038e+06,944481,20240505340_11,20240505340,D,DISPATCHED,U,UNFOUNDED,Closed,...,W,Non-Hispanic,RESIDENT,NaN,NaN,NaN,37076.0,NaN,2024/08/01 02:27:00+00,2024/08/01 02:57:00+00

In [ ]:
# Maybe try zipcode instead?

In [35]:
police_data['ZIP_Code']

0         37216.0
1         37214.0
2         37214.0
3             NaN
4             NaN
           ...
944476    37201.0
944477        NaN
944478        NaN
944479        NaN
944480    37076.0
Name: ZIP_Code, Length: 944481, dtype: object

In [37]:
police_data['ZIP_Code'].value_counts()

ZIP_Code
37207.0    50263
37013.0    47252
37211.0    45841
37115.0    40530
37203.0    29798
           ...
37185.0        1
37330.0        1
37078.0        1
37274.0        1
37057.0        1
Name: count, Length: 130, dtype: int64

In [39]:
# 37207 has the most incident reports -- MY zipcode!

police_data['ZIP_Code'] == '37207'

Make a chart with this zipcode and the years the reports occurred? 
sns.scatterplot(x=police_data["ZIP_Code"] == '37207', y=police_data[" "])